.list-container {
    background-color: #2F3136;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    list-style: none;
    padding-inline-start: 0px;

}

.list-container h1{
    color: #e6e6e6;
}
